<footer id="footer">
           <li><a ng-click="title='刷新'" ng-class="{active:title=='刷新'}" href="#/shuaxin" class="active">
               <span class="icon">&#xe62f;</span>
               <span class="zi">刷新</span></a>
           </li>
           <li><a ng-click="title='视频'" ng-class="{active:title=='视频'}" href="#/shipin">
           	   <span class="icon">&#xe68e;</span>
               <span class="zi">视频</span>
           </a></li>
           <li><a ng-click="title='关心'" ng-class="{active:title=='关心'}" href="#/guanxin">
           	   <span class="icon">&#xe713;</span>
               <span class="zi">关心</span>
           </a></li>
           <li><a ng-click="title='我的'" ng-class="{active:title=='我的'}" href="#/wode">
           	   <span class="icon">&#xe605;</span>
               <span class="zi">我的</span>
           </a></li>
	</footer>