<div id="wode">
	<div class="bt">
		<div class="biao">
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
		</div>
		<div class="tip">
		</div>
	</div>
	<div class="qian">
		<li><a href="">
			<span class="kong"><img src="./images/4t5.png"></span>
			<span>收藏</span>
		</a></li>
		<li class="gx"><a href="">
			<span class="kong"><img src="./images/4t6.png"></span>
			<span>夜间</span>
		</a></li>
		<li><a href="">
			<span class="kong"><img src="./images/4t7.png"></span>
			<span>设置</span>
		</a></li>
	</div>
	<div class="hydt">
		<div class="bai">
			<a href="#">
			   <span class="ziti">好友动态</span>
			   <span class="biao">></span>
			</a>
		</div>
	</div>
	<div class="hang" ng-repeat="v in serverlist">
		<a href="#">
		  <span class="zi">{{v.zi}}</span>
		  <span class="icon">></span>
		</a>
	</div>
</div>